{% extends "main.html" %}

{% block content %}

<h1>HOME</h1>

<div>

    <a href="{% url 'create-character' %}">Create Character</a>
    <a href="{% url 'create-character2' %}">Create Character com valores padrões</a>

    <div>
        {% for character in characters %}
            <a href="{% url 'update-character' character.id %}">Edit</a>
            <a href="{% url 'delete-character' character.id %}">Delete</a>
            <span>@{{character.Name}}</span>
            <div>
                <h5>{{character.id}} -- <a href="{% url 'character' character.id %}">{{character.Name}}</a></h5>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}