{% comment %}Rail esquerdo do editor: ToolDock + painel contextual (preenchido por scene_editor.js).{% endcomment %}
<aside class="sc-rail sc-rail--left">
  <div class="sc-tooldock" role="toolbar" aria-label="Ferramentas">
    <button type="button" class="sc-tool is-active" data-tool="select"><span>Selecionar</span><kbd>V</kbd></button>
    <button type="button" class="sc-tool" data-tool="terrain"><span>Terreno</span><kbd>B</kbd></button>
    <button type="button" class="sc-tool" data-tool="token"><span>Token</span><kbd>T</kbd></button>
    <button type="button" class="sc-tool" data-tool="fog"><span>Névoa</span><kbd>F</kbd></button>
    <button type="button" class="sc-tool" data-tool="measure"><span>Régua</span><kbd>R</kbd></button>
    <button type="button" class="sc-tool" data-tool="erase"><span>Apagar</span><kbd>E</kbd></button>
  </div>
  <div class="sc-panel" id="sc-panel"></div>
</aside>
