<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>eSheet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <style>
            .yellow {
                background-color: yellow;
              }

            input {
                width: 100%;
                background-color: #fcfcfc;
                border: 0;
                border-bottom: 2px solid lightgrey;
                padding: 10px;
            }
        </style>
    </head>
    <body>



        <div class="container-fluid">

            {% include 'navbar.html' %}
             
            {% block content %}
            {% endblock %}

    </body>
</html>