<section id="characterFeatsSection" class="feats-panel">
    <form id="characterFeatsForm" class="feats-form"
          hx-post="{% url 'character:character' character.pk %}"
          hx-target="#characterFeatsSection"
          hx-swap="outerHTML"
          hx-trigger="change delay:300ms">
        {% csrf_token %}
        <div class="section-title-band"><span>Talentos</span></div>
        <div class="list-block">
            <div class="list-block-body feats-list">
                {% for feat in feat_slots %}
                <div class="list-line{% if not feat %} is-empty{% endif %}">
                    <input class="ll-name sheet-input" name="feat_{{ forloop.counter }}_Name" value="{{ feat.Name|default:'' }}">
                    <input class="ll-page sheet-input" name="feat_{{ forloop.counter }}_Page" value="{{ feat.Page|default:'' }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</section>
