{% with status=character.characterstatus %}
<section class="col-right">

    <div class="pvca-stack" data-sheet-table="hit-points-and-armor-class">
            <div class="pvca-headrow pv-headrow">
                <div class="pvca-headrow-spacer"></div>
                <div class="pvca-head-label">TOTAL</div>
                <div class="pvca-head-label pvca-head-label--wide">PV Atual / Temporario</div>
                <div class="pvca-head-label">Dano por Contusao</div>
                <div class="pvca-head-label">Deslocamento</div>
            </div>

        {% include "character/partials/character_status_form.html" %}

        {% include "character/partials/character_armor_form.html" %}
    </div>

    <div class="lower-row">
        {% include "character/partials/character_defense_summary.html" %}

        {% include "character/partials/character_skills.html" %}
    </div>

</section>
{% endwith %}
